
   
   .image{
      background-image: url('Space-Background-Images-1024x682.jpg');
   background-repeat: no repeat;
      height:600px;
      
   width: 980px; 

   
}
h1{
   text-align: center;
   font-size: xx-large;
   color: bisque;
   font-weight: bolder;
}